<ul class="article-list">
  <li class="item" *ngFor="let item of artilceList">
    <div class="item-title" [class]="item.randomBgClass" routerLink="{{'/article/' + item['_id']}}">
      <p>{{item.title}}</p>
    </div>
    <div class="descp">
      <p>{{item.description}}...<a href="javascript:void(0)" routerLink="{{'/article/' + item['_id']}}" class="more">阅读全文</a></p>
    </div>
    <div class="author">
      <div class="info">
        <img src="//ofl49b399.bkt.clouddn.com/1.jpg" alt="头像">
        <div>
          <h4>{{item.author}}</h4>
          <p class="date">{{item.date | date:"M月dd，yyyy"}}</p>
        </div>
      </div>
      <div class="category"><a href="{{'/categories/' + item.category}}">{{item.category}}</a></div>
    </div>
  </li>
</ul>
<div class="load-more">
  <button (click)="loadMore()" *ngIf="more && total !== 0">加载更多</button>
  <button *ngIf="!more || total === 0">暂无更多</button>
</div>