.about {
    width: 100%;
    height: 100%;
}

.about-wrapper {
    width: 70%;
    margin: 0 auto;
}

.about-title {
    font-size: 26px;
}

.about-item {
    text-indent: 2em;
}

@media screen and (max-width: 1200px) {
    .about-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .about-wrapper {
        width: 95%;
    }
}