.menu-bar {
  width: 20px;
  height: 20px;
  color: #222;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .menu-bar {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    color: #222;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
}