.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: transparent;
}
.scroll {
  background: linear-gradient(to right,#1a1818 35%,#353030 100%);
}
.header .avatar {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 2;
}
.header .avatar img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border-radius: 50%;
}
.nav-bread {
  display: none;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-align: right;
}
.nav-bread:hover {
  color: #0097a7;
}
.nav-lists {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
}
.nav-item {
  font-size: 14px;
}
.nav-item > a {
  display: block;
  padding: 0 30px;
  margin-right: -20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-item > a:visited, .nav-item > a:focus {
  color: #fff;
}
.nav-item:hover > a {
  color: #0097a7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .nav-bread {
    display: block;
    padding-right: 20px;
  }
  .scroll .nav-lists {
    background: linear-gradient(to right,#1a1818 35%,#353030 100%);
  }
  .nav-lists {
    opacity: 0;
    height: 0;
    flex-direction: column;
    overflow: hidden;
    animation-name: slideup;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }
  .header .visible-line {
    position: fixed;
    height: 1px;
    line-height: 1;
    background-color: rgba(255,255,255,0.1);
    top: 60px;
    left: 0;
    width: 100%;
  }
  .nav-item {
    margin: 0;
    height: auto;
    line-height: 1;
    padding: 25px 10px 0;
    text-align: right;
  }
  .nav-lists.visible {
    opacity: 1;
    height: 180px;
    animation-name: slidedown;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }
}

@keyframes slidedown {
  from {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
    height: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    height: 180px
  }
}
@keyframes slideup {
  to {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
    height: 0;
  }
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    height: 180px;
  }
}

.navlink-active {
  color: #0097a7!important;
}
