.article-detail {
  width: 80%;
  margin: 80px auto 60px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.ad-wrapper {
  flex: 1;
  padding-right: 40px;
}
.markdown-body {
  width: 100%;
  overflow: hidden;
}
.markdown-body>h1:first-child,
.markdown-body>h2:first-child,
.markdown-body>h3:first-child,
.markdown-body>h4:first-child,
.markdown-body>h5:first-child,
.markdown-body>h6:first-child {
  font-size: 26px;
  border: none;
}
.header {
  background: linear-gradient(to right,#1a1818 35%,#353030 100%);
}
.ad-pic {
  width: 100%;
  height: auto;
  max-height: 400px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .article-detail {
    width: 90%;
  }
  .ad-wrapper {
    padding-right: 30px;
  }
}
@media screen and (max-width: 990px) {
  .ad-wrapper {
    padding-right: 0;
  }
}