<div class="left" [class.show]="leftVisible">
  <div class="info">
    <div class="avatar">
      <img src="//ofl49b399.bkt.clouddn.com/1.jpg" alt="头像">
      <div class="menubar" (click)="collaspeLeftBar()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
    <div class="email">
      <p>798230885@qq.com</p>
    </div>
  </div>
  <ul class="nav">
    <li class="nav-item" (click)="collaspeLeftBar()" routerLinkActive="active" routerLink="/index">
      <div>
        <i class="fa fa-home"></i>主页
      </div>
    </li>
    <!-- <li class="nav-item" (click)="toggleActive('category')">
      <i class="fa fa-tags"></i>归档<i class="fr fa fa-caret-down"></i>
      <ul></ul>
    </li> -->
    <li class="nav-item expand" (click)="toggleActive()" [class.active]="active">
      <i class="fa fa-map-o" style="padding-left: 20px;"></i>分类<i class="fr fa fa-caret-down"></i>
      <ul class="item-list" [@listState]="listState">
        <li *ngFor="let item of categoryInfo" routerLink="{{'/categories/' + item.name}}" (click)="collaspeLeftBar()">
          <span>{{item.name}}</span>
          <span class="count">{{item.count}}</span>
        </li>
      </ul>
    </li>
    <li class="nav-item" (click)="collaspeLeftBar()" routerLinkActive="active" routerLink="/about">
      <div><i class="fa fa-user-o"></i>关于我</div>
    </li>
    <li class="nav-item" (click)="collaspeLeftBar()" routerLinkActive="active" routerLink="/links">
      <div><i class="fa fa-link"></i>友链</div>
    </li>
  </ul>
</div>
<div class="mask" [class.visible]="leftVisible" (click)="collaspeLeftBar()"></div>
