<div class="header">
  <div class="header-info">
    <div class="assign">
      <p class="assign-text">如人饮水，冷暖自知</p>
    </div>
    <div class="info">
      <div class="search">
        <input type="text">
        <span class="input-line"></span>
        <div class="icon">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div class="avatar">
        <img src="//ofl49b399.bkt.clouddn.com/1.jpg" alt="头像">
      </div>
      <div class="title">
        <p>胖先生的窝</p>
      </div>
    </div>
  </div>
</div>
