.articles-list-container {
    overflow: hidden;
    flex: 1;
}

.articles-list {
    width: 100%;
    margin: 0;
    padding: 0 20px 0 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .articles-list {
        padding: 0;
    }
}