/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix::after{
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
/* End hide from IE-mac */

/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; color: inherit;
    vertical-align: baseline;
    font-size:14px;
}
input,button { border:none; background:transparent;}

header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%; font-weight: normal}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,a,a:hover{text-decoration:none; color:#666666}
body,textarea,input,select,keygen,legend{font:100%/1.125em arial;color:#666;outline:0;-webkit-text-size-adjust: none; }
html, body{height: 100%;}
body{background: #F5F5F5;font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif}
.random_1{background-image: url(assets/images/random_bg/material-1.png)!important;}
.random_2{background-image: url(assets/images/random_bg/material-2.png)!important;}
.random_3{background-image: url(assets/images/random_bg/material-3.png)!important;}
.random_4{background-image: url(assets/images/random_bg/material-4.png)!important;}
.random_5{background-image: url(assets/images/random_bg/material-5.png)!important;}
.random_6{background-image: url(assets/images/random_bg/material-6.png)!important;}
.random_7{background-image: url(assets/images/random_bg/material-7.png)!important;}
.random_8{background-image: url(assets/images/random_bg/material-8.png)!important;}
.random_9{background-image: url(assets/images/random_bg/material-9.png)!important;}
.random_10{background-image: url(assets/images/random_bg/material-10.png)!important;}
.random_11{background-image: url(assets/images/random_bg/material-11.png)!important;}
.random_12{background-image: url(assets/images/random_bg/material-12.png)!important;}
.random_13{background-image: url(assets/images/random_bg/material-13.png)!important;}
.random_14{background-image: url(assets/images/random_bg/material-14.png)!important;}
.random_15{background-image: url(assets/images/random_bg/material-15.png)!important;}
.random_16{background-image: url(assets/images/random_bg/material-16.png)!important;}
.random_17{background-image: url(assets/images/random_bg/material-17.png)!important;}
.random_18{background-image: url(assets/images/random_bg/material-18.png)!important;}
.random_19{background-image: url(assets/images/random_bg/material-19.png)!important;}
