<ul class="article-list">
  <li class="item" *ngFor="let item of artilceList">
    <div class="item-title">
      
    </div>
    <div class="descp">
      <p>这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述<a href="#" class="more">阅读全文</a></p>
    </div>
    <div class="author">
      <div class="info">
        <img src="//ofl49b399.bkt.clouddn.com/1.jpg" alt="头像">
        <div>
          <h4>刘子洋</h4>
          <p class="date">4月08，2017</p>
        </div>
      </div>
      <div class="category"><a href="#">vue</a></div>
    </div>
  </li>
</ul>