.archives {
  width: 100%;
}
.archives-container {
  width: 70%;
  display: flex;
  margin: 0 auto;
  padding: 120px 0;
  justify-content: space-between;
}
.archives-container .empty {
  flex: 1;
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 1200px) {
  .archives-container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .archives-container {
    width: 95%;
  }
}