$main-color: #0097A7;
$hover-color: #00a2ae;
$click-color: #00707f;
.pagination {
  li {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align:center;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
    margin: 0 5px;
    cursor: pointer;
    &:hover {
      background: $hover-color;
      border-color:$hover-color;
      a {
        color: #fff;
      }
    }
  }
  .active {
    background: $main-color;
    border: 1px solid $main-color;
    a {
      color: #fff;
      border-color:$hover-color;
    }
  }
}